#header {
	
	margin: auto;
	width: 1000px;
	height: 150px;
	background-color: gray;
	border: 10px solid #453A38;
	border-radius: 7px;
	font-size: 5em;
	text-align: center;
	
}

#text_part {
	
	margin: auto;
	margin-top: 20px;
	width: 850px;
	height: 1500px;
	background-color: brown;
	color: gray;
	border: 3px solid yellow;
	
}

div > * {
	
	text-align:center;
	
}

.sideText {
	
	text-align:left;
	
}
